*  {
    padding : 0;
    margin : 0;
    font-family: Helvetica;
    color : #333;
}
a {
    color : inherit;
    text-decoration: none;
}
a:hover{
    color :rgba(100,100,100,0.6);
}
.container {
    width : 80%;
    margin : 0 auto;
    display: block;
}
header.desktop{
    position: fixed;
    top : 0;
    width : 100%;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    flex-direction: row;
    display: flex;
    box-shadow: 1px 1px 3px #ddd;
    background-color: #fff;
    font-weight: lighter;
    z-index:100;
}
header.desktop .container .item:hover{
    box-sizing: border-box;
    border-bottom: 2px solid rgba(100,100,100,0.2);
}
header.desktop .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header.desktop .container .item{
    padding : 15px 15px;
    color : #333;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}
header.desktop .container .logo {
    margin-right: 40px;
    font-size: 1.2em;
    font-weight: bold;  
}
header.desktop .container .logo:hover{
    color : rgba(100,100,100,0.7);
    border-bottom: 2px solid transparent;
}
header.desktop .container .toggle:hover{
    border-bottom: 2px solid transparent;
}
header.desktop .container .item-right{
    margin-left: auto;
}
@media(min-width: 769px){
    .item.hidden{
        display: inline;
    }
    .item.show{
        display: none;
    }
}
@media(max-width: 768px){
    .item.hidden{
        display: none;
    }
    .item.show{
        display: inline;
    }
    header.mobile {
        top : 55px;
        width: 250px;
        position: fixed;
        font-size: 13px;
        font-weight: bold;
        background-color: #fff;
        z-index: 90;
        border-left: 1px solid rgba(100,100,100,0.2);
        border-right: 1px solid rgba(100,100,100,0.2);
        height: 100%;
        overflow-y: auto;
        transition: all 0.2s ease-out;
    }
    header.mobile.left{
        left: 0;
        margin-left: -250px;
    }
    header.mobile.visible{
        margin : 0;
    }
    header.mobile .item{
        display: block;
        padding : 0.8em 1.1em;
    }
    header.mobile .item .item:hover{
        color : rgba(100,100,100,0.4);
    }
}
div.content{
    top : 60px;
    position: absolute;
    width: 100%;
}
div.content .content-data{
    padding-top: 25px;
}
div.content .content-data h1{
    margin-bottom: 20px;
    letter-spacing: 1px;
}
div.content .content-data p{
    margin-bottom: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 1.7em;
}
.center {
    align-items: center;
    text-align: center;
}
.toggle{
    font-weight: bold;
}
.toggle:hover{
    color : rgba(100,100,100,0.2) !important;
}
